@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
}

/*Util class*/

.fs-1{
    font-size: 1rem;
    font-weight: bolder;
}
.fs-2{
    font-size: 1.3rem;
    font-weight: bolder;
}

.btn{
    padding: .55rem;
    color: white;
    background: #3a0ca3;
    border: none;
    border-radius: 5px;
    margin: 0.55rem 0rem;
}
.btn-block{
    display: block;
    width: 100%;
}
.input-box{
    padding: 0.55rem 0rem;
    border: 0.7px solid #ef476f;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}
label{
    padding: 0.55rem 0rem;
}

#navbar{
  height: 3rem;
  width: 100%;
  background: #ef476f;
  color:white;
  display:flex;
  justify-content: space-between;
}

ul{
    display: flex;
    align-items: center;
    justify-content:  center;
    
}

.logo{
    display: flex;
    align-items: center;
    padding: 1rem;   
}

.navbar-link{
    color: white;
    padding:0rem 0.7rem;
    margin:0rem 0.7rem;
}

/*login*/
.form{
    height: 250px;
    width: 300px;
    border: 1px solid #ef476f;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 5rem auto;
}

.form-group{
display: flex;
flex-direction: column;
justify-self: space-between;
padding: 0.55rem 0rem;
 width: 100%;

}
/*Signup*/

.signup-form{
    height: 420px;
    width: 300px;
    border: 1px solid #ef476f;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 5rem auto;
}
.contact-page{
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-gap: 1fr;
}
